html {
    min-height: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    min-height: 100%;
    background: blue;  /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(white, blue, white);  /* Safari */
    background: -o-radial-gradient(white, blue, white);  /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(white, blue, white);  /* Firefox 3.6 to 15 */
    background: radial-gradient(white, blue, white);  /* Standard syntax */
    text-align: center;
}
nav {
    float: left;
    width: 18em;  /* could fill horizontally with 100vw */
    height: 100vh;
    background: white;
    border: .1em solid black;
    text-align: left;
}
input {
    text-align: center;
}
