/* dev.opera.com has a bunch of cross-browser stuff. */
* {  /* makes everything include padding and borders in its height and width */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    min-height: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    margin: 0vw 0vh 0vh 15vw;
    width: 80%;
    min-height: 100%;
    background: yellow;  /* for browsers that do not support gradients */
    background: -webkit-repeating-linear-gradient(red, yellow 100vh, red 150vh);  /* Safari 5.1 to 6.0 */
    background: -o-repeating-linear-gradient(red, yellow 100vh, red 150vh);  /* Opera 11.1 to 12.0 */
    background: -moz-repeating-linear-gradient(red, yellow 100vh, red 150vh);  /* Firefox 3.6 to 15 */
    background: repeating-linear-gradient(red, yellow 100vh, red 150vh);  /* standard syntax */
    text-align: center;
}
nav {
    position: fixed;
    left: 0em;
    top: 0em;
    padding-right: 1em;
    width: 15vw;  /* could fill horizontally with 100vw */
    height: 100%;
    background: #0e0; /* For browsers that do not support gradients */
    background: -webkit-repeating-radial-gradient(circle, #0e0, #0e0 10%, white 11%, white 21%, #0e0 22%);  /* For Safari 5.1 to 6.0 */
    background: -o-repeating-radial-gradient(circle, #0e0, #0e0 10%, white 11%, white 21%, #0e0 22%);  /* For Opera 11.6 to 12.0 */
    background: -moz-repeating-radial-gradient(circle, #0e0, #0e0 10%, white 11%, white 21%, #0e0 22%);  /* For Firefox 3.6 to 15 */
    background: repeating-radial-gradient(circle, red, white 10%, red 20%);  /* Standard syntax */
    text-align: left;
}
ul {
    padding-left: 2em;
}
input {
    text-align: center;
}
