/* dev.opera.com has a bunch of cross-browser stuff. */
* {  /* makes everything include padding and borders in its height and width */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    min-height: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    margin: 0% 0% 0% 20%;
    width: 80%;
    min-height: 100%;
    background: blue;  /* for browsers that don't support gradients */
    background: -webkit-radial-gradient(60% 50%, circle, white, blue, white);  /* Safari */
    background: -o-radial-gradient(60% 50%, circle, white, blue, white);  /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(60% 50%, circle, white, blue, white);  /* Firefox 3.6 to 15 */
    background: radial-gradient(circle at 60% 50%, white, blue, white);  /* standard syntax */
    text-align: center;
}
nav {
    position: fixed;
    left: 0em;
    top: 0em;
    padding-right: 1em;
    width: 20%;  /* could fill horizontally with 100vw */
    height: 100%;
    background: white;
    text-align: left;
}
ul {
    padding-left: 2em;
}
input {
    text-align: center;
}
